.App {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(9,198,122,1) 44%, rgba(6,130,170,1) 95%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: inherit;
  font-size: 1.2rem;
}
.App > h1 {
   color: whitesmoke;
   font-size: 2rem;
   letter-spacing: 0.1rem;
 }
input, button {
  width: 200px;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(224, 224, 241);
}

button {
  background-color: rgb(4, 4, 29);
  color: white;
  cursor: pointer;
}

.food {
  background-color: rgba(255, 255, 255, 0.233);
  width: 500px;
  height: 250px;
  border: 2px solid rgb(3, 3, 80);
  margin: 10px;
}