body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    font-size: 15px;
    padding: 10px;
    border: none;
    font-family: inherit;
    
}

button {
    border: none;
    font-size: 15px;
    padding: 10px;
    background: rgba(197, 32, 183, 0.253);
    font-family: inherit;
    
}

.addUser {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.displayUsers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.data {
    width: 500px;
    height: 180px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}